
.root {
    -fx-background-color: #FFFFFF;
    -fx-font-family: Roboto;
}

/*
Colors
 */
.main-background {
    -fx-background-color: #949494;
}

.primary-color {
    -fx-background-color: #707070;
}

.primary-color-dark {
    -fx-background-color: #89A395;
}

.primary-color-light {
    -fx-background-color: #707070;
}

.secondary-color {
    -fx-background-color: #707070;
}

.secondary-color-dark {
    -fx-background-color: #775B2F;
}

.secondary-color-light {
    -fx-background-color: #DFC9A5;
}

.grid-layout-margin {
    -fx-background-color: #ADFF2F;
    -fx-opacity: .3;
    -fx-pref-height: 1080;
    -fx-pref-width: 57.5;
}

.grid-layout-column {
    -fx-background-color: #FFA07A;
    -fx-opacity: .3;
    -fx-pref-height: 1080;
    -fx-pref-width: 75;
}

.grid-layout-gutter {
    -fx-background-color: #87CEFA;
    -fx-opacity: .3;
    -fx-pref-height: 1080;
    -fx-pref-width: 20;
}


/*
Base Styles
 */
.big-label-text {
    -fx-font-size: 24pt;
    -fx-font-family: "Roboto Light";
}

.medium-label-text {
    -fx-font-size: 18pt;
    -fx-font-family: "Roboto Light";
}

.small-label-text {
    -fx-font-size: 14pt;
    -fx-font-family: "Roboto Light";
}


/*
1920
 */
.tab {
    -fx-background-color: #545454;
}


.tab-header-background {
    -fx-background-color: #545454;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #DFC9A5;
}

/*
 * Labels	
 */

.label-login {
    -fx-text-fill: #515A5A;
    -fx-text-size: 20pt;
    -fx-font-family: Roboto;
    -fx-text-fill: white;
}

.logo-font-big {
    -fx-font-size: 20pt;
    -fx-font-family: Bahnschrift;
}

.label-login-alert {
    -fx-text-fill: #B20020;
    -fx-text-size: 10pt;
    -fx-font-family: Roboto;
}

/*
 * Text Fields
 */
.jfx-text-field {
    -jfx-unfocus-color: white;
    -jfx-focus-color: White;
}

.jfx-password-field {
    -jfx-unfocus-color: white;
    -jfx-focus-color: white;
}

/*
 * Combo Boxes
 */
.jfx-combo-box {
    -jfx-focus-color: white;
    -jfx-unfocus-color: white;
}

/*
 * Buttons
 */
.button-standard {
    -fx-background-color: #909090,
    #FFFFFF;
    -fx-background-radius: 4;
    -fx-background-insets: 0, 1, 1;
    -fx-font-family: Roboto;
    -jfx-button-type: RAISED;
}

.plus-button {
    -fx-shape: "M0,-1 V1 M-1,0 H1";
    -fx-background-color: gray;
}

.delete-button {
    -fx-pref-width: 33;
    -fx-pref-height: 35;
    -fx-shape: "m -191,-172.1 h -18 c -2.4,0 -4.5,-2 -4.7,-4.4 l -2.83125,-34.67299 c 0,0 1.99778,-0.0284 3,-0.027 9.05752,0.013 18.03623,-0.0183 27.0625,-0.0312 1.00222,-0.001 2.90625,0.075 2.90625,0.075 L -186.3,-176.5 c -0.2,2.5 -2.3,4.4 -4.7,4.4 m -12,-47.9 c -2.4,0 -4.40039,2.00039 -4.40039,4.40039 l 0.0117,1.50391 h 2.76172 c 0,0 -0.35534,-0.58003 0.0273,-1.50391 0.28864,-0.69683 0.69961,-1.59961 1.59961,-1.59961 h 6 c 0.9,0 1.31097,0.90278 1.59961,1.59961 0.38268,0.92388 0.0352,1.5 0.0352,1.5 h 2.76563 v -1.5 C -192.59961,-217.99961 -194.6,-220 -197,-220 Z m -16.5,5.9 h 39 v 3 h -39 z";
    -fx-background-color: white;
}

.delete-button:hover {

    -fx-background-color: #DC143C;
}

.jfx-button {
    -jfx-button-type: FLAT;
}

.button-standard:pressed {
    -fx-background-color: #445463;
    -fx-text-fill: white;
}

.button-standard:hover {
    -fx-background-color: #909090,
    #9fafc0;
    -fx-text-fill: white;
}

.button-standard:hover:pressed {
    -fx-background-color: #445463;
    -fx-text-fill: white;
}

.back-button {
    -fx-background-color: #FFFFFF;
    -fx-shape: "resources/icons/svg/arrow-72-83543.svg";
}

/*
Table View
 */
.table-view {
    -fx-border-color: #515A5A;
}


   